/*
 * Blackjack.css
 * Designed and built by Eric R. Berg
 */

body {
    margin-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
    height:100%;
    width:100%;
    background-color:gray;
}

.imageloader{
display: none;
}

.spacer{
    width:100%;
    min-height:50px;
    /* border:5px solid black; */
    float:left;
}

.clearfix {
    display: inline-block;
}

.table-container{
    margin:auto;
    width:1000px;
}
.card-table{ 
    position: absolute;
    width: 1000px;
    height: 500px;
    margin: auto;
    /* border: 5px solid red; */
}

.left-card-table{
    width:500px;
    height:500px;
    border-radius:250px;
    font-size:20px;
    color:#fff;
    line-height:100px;
    background:green;
    position:absolute;
}
.right-card-table{
    width:500px;
    height:500px;
    border-radius:250px;
    font-size:20px;
    color:#fff;
    line-height:100px;
    background:green;
    position:absolute;
    left:500px;
}
.middle-card-table{
    width:500px;
    height:500px;
    font-size:20px;
    color:#fff;
    line-height:100px;
    background:green;
    position:absolute;
    left:250px;
}
.position-Player1{
    background-size:cover;
    width:110px;
    height:125.2px;
    position:absolute;
    left:820px;
    bottom:140px;
}
.position-Player2{
    background-size:cover;
    width:110px;
    height:125.2px;
    position:absolute;
    left:670px;
    bottom:80px;
}
.position-Player3{
    background-size:cover;
    width:110px;
    height:125.2px;
    position:absolute;
    left:520px;
    bottom:60px;
}
.position-Player4{
    background-size:cover;
    width:110px;
    height:125.2px;
    left:370px;
    position:absolute;
    bottom:60px;
}
.position-Player5{
    background-size:cover;
    width:110px;
    height:125.2px;
    left:220px;
    position:absolute;
    bottom:80px;
}
.position-Player6{
    background-size:cover;
    width:110px;
    height:125.2px;
    position:absolute;
    left:70px;
    bottom:140px;
}
.position-Dealer{
    background-size:cover;
    width:110px;
    height:125.2px;
    position:absolute;
    left:453px;
    top:40px;
}
.card-container{
    /*background-size:cover;*/
    background-color:black;
    width:90px;
    height:125.2px;
    position:absolute;
    background-image: url(../graphics/deck.png);
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-size: 1170px 626px;
    border:1px solid black;
    /*box-shadow: 1px 1px 1px #000;*/
    /*display: none; disable this to test card positions*/
}


.card-offset{
    left: 20px;
    bottom:20px;
}

.dealer-card-offset{
    left: 20px;

}
.username-Player{
    -moz-border-radius: 15px;
    border-radius: 15px;
    color:white;
    position:absolute;
    bottom:-40px;
    width: 110px;
    height:20px;
    overflow: hidden;
    text-align:center;
    z-index: 5;
}
.username-playerTimer{
    background-image: url(../graphics/timerblock.png);
    background-position: -110px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color:white;
    position:absolute;
    bottom:-40px;
    width: 110px;
    height:20px;
    overflow: hidden;
    text-align:center;
    z-index: 4;
}

.username-BG{
    background-color:black;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color:white;
    position:absolute;
    bottom:-40px;
    width: 110px;
    height:20px;
    overflow: hidden;
    text-align:center;
    z-index: 3;
}

.chips-Player{
    color:black;
    position:absolute;
    bottom:-60px;
    width: 110px;
    height:20px;
    overflow: hidden;
    text-align:center;
    display:none;
}
.bet-Player{
    color:black;
    position:absolute;
    bottom:-20px;
    width: 110px;
    height:20px;
    overflow: hidden;
    text-align:center;
    display:none;
}
.username-Dealer{
    background-color:black;
    color:white;
    position:absolute;
    top:-30px;
    width: 110px;
    height:20px;
    overflow: hidden;
    text-align:center;
}

.btn-container
{
    bottom:-30px;
    left:250px;
    position:absolute;
    width:1000px;
}

.message
{
    bottom:200px;
    position:absolute;
    width:1000px;
    text-align:center;
    font-size: 20px;
    z-index:2;
}

.joinButton{
    left: 10px;
    bottom: 20px;
    position:absolute;
    z-index:2;
    height:20px;
}

.sitOutButton{
    left: 10px;
    bottom: 20px;
    position:absolute;
    z-index:2;
    height:20px;
    display:none;
}